body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
}

p{
    text-align: justify;
    font-size: 1.4em;
}

h1, h2{
    text-align: center;
}

#header{
    position: relative;
    background-color: #000;
    margin: 0;
}

#logo{
    height: 60px;
    padding: 16px 16px 5px 16px;
}

#conteudo{
    min-height: 700px;
    margin: 0px 16px 0px 16px;
}

#img-layout, #img-comentarios, #img-ol, #img-ul{
    height: 350px;
    margin-bottom: 10px;
}

#img-metadados{
    height: 150px;
    margin-bottom: 10px;
}

#rodape{
    padding: 10px 16px 10px 16px;
    margin-top: 18px;
    background-color: #000;
    color: #fff;
    font-size: 1em;
}

video{
    padding-left: 35%;
}

audio{
    padding-left: 38%;
}

/*Menu acessibilidade*/
#acessibilidade{
    padding: 5px;
    list-style-type: none;
}

.item-acessibilidade{
    display: inline-block;
    position: relative;
}

.item-acessibilidade a{
    color: #fff;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
}

/*Menu*/
nav{
    width: 100%;
    height: auto;
    background-color: #000;
}

.item-menu a{
    color: #ffd900;
    display: block;
    padding: 12px 12px;
    text-decoration: none;
}

#menu{
    list-style-type: none;
}

.item-menu{
    display: inline-block;
    position: relative;
}

.item-menu:hover{
    background-color: #fff;
}

#menu li ul{
    position:absolute; 
    background-color: #000;
    display: none;
    padding-left: 0;
    border: 1px solid #fff;
}
#menu li:hover ul{
    display: block;
}
#menu li ul li{
    display: block;
    width: 187px;
}

#menu li ul li:hover{
    border-left: 3px solid #fff;
}

/*Formulário*/
input, select{
    width: 40%;
    height: 40px;
    background-color: #f3f3f3;
    color: #000;
    border-radius: 15px;
    padding: 5px;
}

label, legend{
    font-weight: bold;
    font-size: 1.2em;
}

fieldset{
    border-color: #ffd900;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea{
    width: 40%;
    padding: 5px;
    border-radius: 15px;
}

input[type=submit]{
    width: 15%;
    height: 40px;
    background-color: #4d4747;
    color: white;
}

input[type=reset]{
    width: 15%;
    height: 40px;
    background-color: #4d4747;
    color: white;
}

.required:after{
    content: " *";
    color: ffd900;
}

/*Breadcrump*/
.breadcrumb {
    padding: 0;
    list-style: none;
    font-size: 1.05em;
}

.breadcrumb li{
    color: #fff;
    display: inline;
}

.breadcrumb li a{
    text-decoration: none;
    color: rgb(85, 84, 84);
}

.breadcrumb li a:hover{
    text-decoration: underline;
    color: ffd900;
}

.breadcrumb li+li:before{
    content: "/\00a0";
    color: #fff;
}

/*Menu responsivo*/
label[for="bt_menu"]{
    display: none;
}

#bt_menu{
    display: none;
}

/*media query*/

/*media query menu responsivo*/
@media screen and (max-width:650px){
    #menu{
        display: none;
    }

    label[for="bt_menu"]{
        display: block;
        padding: 8px;
    }

    #bt_menu:checked ~ #menu{
        display: block;
    }

    #menu li{
        position: relative;
        width: 100%;
    }

    #menu li ul{
        position: static;
        width: 100%;
    }

    #menu li ul li{
        position: relative;
        width: 100%;
    }
}

/*media query imagens / video / audio responsivas*/
@media screen and (max-width:700px){
    video{
        padding-left: 6%;
    }

    audio{
        padding-left: 16%;
    }

    #img-comentarios, #img-layout, #img-ul, #img-ol{
        height: 320px;
    }

    #img-metadados{
        height: 100px;
    }
}

/*media query menu acessibilidade*/
@media screen and (max-width:900px){
    #acessibilidade li a{
        font-size: 0.8em;
    }
}

@media screen and (max-width:760px){
    #acessibilidade li a{
        font-size: 0.7em;
    }
}

@media screen and (max-width:700px){
    #acessibilidade{
        display: none;
    }
}